<p class="signup_form">
    <h1>Register your Group</h1>

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <%= f.label :organization %>
            <%= f.text_field :organization, class: 'form_control' %>

            <%= f.label :email %>
            <%= f.text_field :email, class: 'form_control' %>

            <%= f.label :password %>
            <%= f.password_field :password, class: 'form_control' %>

            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, class: 'form_control' %>
    
        </div>
    </div>
</p>