<h1>Login</h1>

<div class="notice">
  <p style="color:red">
    <%= flash.now[:notice] if flash[:notice] %>
  </p>
</div>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_for :session, url: login_path, method: :post do |f| %>
      
        <%= f.label :email %>
        <%= f.text_field :email, class: 'form_control' %>
        
        <%= f.label :password %>
        <%= f.text_field :password, class: 'form_control' %>
        
        <%= f.submit("Login") %>
      <% end %>
    </div>
</div>

<br>

No account? <%= link_to 'Signup', signup_path, method: :get %>
