<h1>Signup</h1>


<div class="notice">
  <p style="color:red">
    <%= flash[:notice] if flash[:notice] %>
  </p>
</div>

<%= form_for :session, url: signup_path, method: :post do |f| %>

  <%= f.text_field :first_name, placeholder: 'first name' %>
  <br>
  <%= f.text_field :last_name, placeholder: 'last name' %>
  <br>
  <%= f.text_field :email, placeholder: 'email' %>
  <br>
  <%= f.password_field :password, placeholder: 'password' %>
  <br>
  <%= f.submit("Signup") %>
<% end %>
