<h1>Signup</h1>

<div class="notice">
  <p style="color:red">
    <%= flash[:notice] if flash[:notice] %>
  </p>
</div>
  
<%= form_for :session, url: signup_path, method: :post do |f| %>
  <h3>Are you a manager?</h3>
  <%=radio_button_tag 'user_type', 'Manager'%>
  <%=radio_button_tag 'user_type', 'Fan'%>
  <%= render 'manager_signup', :f => f if @is_manager %>
  <%= render 'user_signup', :f => f unless @is_manager %>
  <%= f.submit 'Submit', class: "btn btn-primary" %>
<% end %>
