<p class="fields">
    <%= f.text_field :name, placeholder: 'Name of ticket type' %>
    <%= f.text_field :max_purchasable, placeholder: 'Max Purchasable' %>
    <%= f.text_field :price, placeholder: 'Price' %>
    <%= f.hidden_field :_destroy %>
    <%= link_to_function "Remove", "remove_ticket_status(this)" %>
</p>