<h1>Events</h1>

<div class="notice">
  <p style="color:red">
    <%= flash.now[:notice] if flash[:notice] %>
  </p>
</div>

<%= link_to 'New Event', new_event_path %>
<%= link_to 'Log out', logout_path, method: :delete %>

<table>
  <% Event.all.each do |event| %>   
    <tr>
        <td> 
          <%= event.name %>
        </td>
        <td> 
          <%= event.organizer %>
        </td>
        <td> 
          <%= event.location %>
        </td>
        <td> 
          <%= event.description %>
        </td>
        <td> 
          <%= event.image_path %>
        </td>
        <td> 
          <%= event.link %>
        </td>
        <td> 
          <%= event.total_tickets %>
        </td>
      <% end %>
    </tr>
</table>

</div>
