<h1>Events</h1>

<div class="gallery">
  <ul>
    <% @events.each do |event| %>
      <li>
	<a href=<%= event_url(event) %> title=<%= event.name %> target="_blank">
          <img src=<%= event.image_path %> alt="" />
          <div class="info">
	    <h1 class="title"><%= event.name %></h1>
	    <h2 class="date"><%= event.date %></h2>
	    <h2 class="tickets"><%= "#{event.tickets_sold} out of #{event.total_tickets} tickets sold" %></h2>
	  </div>
        </a>
      </li>
    <% end %>
  </ul>
</div>
